name: 04 - using actions

on: push

jobs: 
    build:
        runs-on: ubuntu-latest
        defaults: 
            run:
              working-directory: 04-using-actions/react-app
        steps: 
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                node-version: '24.x'
            - name: Install dependencies
              run: npm ci
            - name: Run unit tests
              run: npm run tests
        # 0. checkout the code from the repository

        # 1, install deps of our react application
        # 2, Execute automated tests
