name: 04 - using actions

on: workflow_dispatch

jobs: 
    build:
        runs-on: ubuntu-latest
        defaults: 
            run:
              working-directory: 04-using-actions/react-app
        steps: 
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                node-version: '24.x'
            - name: Install dependencies
              run: npm ci
            - name: Run unit tests
              run: npm run test