name: 16 - Working with environments 
run-name: 16 - working with environments | env - ${{inputs.target-env}}
on: 
    workflow_dispatch:
        inputs:
            target-env:
                type: environment
                default: staging

jobs:
    echo: 
        runs-on: ubuntu-latest
        environment: ${{inputs.target-env}}
        env:
            my-env-value ${{env.MY_ENV_VALUE || 'default_value'}}
        steps:
            - name: Echo vars
              run: |
               echo "Environment variable: ${{env.my-env-value}}"