name: 16 - Working with environments

on: 
    workflow_dispatch:
        inputs: 
            target-env:
                type: environment
                default: staging

jobs:
    echo:
        runs-on: ubuntu-latest
        environment: ${{inputs.target-env}}
        env: 
            my-env-value: ${{vars.MY_ENV_VALUE || 'default_value'}}
        steps:
            - name: echo data
              run: |
              echo "Environment variable: ${{vars.MY_ENV_VALUE}}" 